@import'../styles/globals.scss';

.foodList{
    display: flex;
    &::-webkit-scrollbar {
        width: 10px;              
      }
      
      &::-webkit-scrollbar-track {
        background: $backGround;       
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $cartColour;    
        border-radius: 10px;      
      }
      justify-content: flex-start;
      padding: 10px;
    height: 76vh;
    overflow: auto;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 10px;
}
.ordersTitle{
  padding: 5px;
  box-shadow:0 4px 6px -6px #222;
}
.orderList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 42px;
  margin: 10px 0px;
  padding: 0px 20px;
  justify-content: flex-start;
  height: 70vh;
  overflow: auto;
}
.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/home.jpg');
  background-size: cover;
  h1{
    font-weight: 700;
    color: white;
  }
  .routeButtons {
    display: flex;
    flex-direction: row;
    gap: 80px;
.menuBtn{
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 11px 32px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.575) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.938) 2px 8px 4px -6px;
  }
}
}
}




.noItem{
  display: flex;
  justify-content: center;
  img{
    height: 60vh;
  }
}